.site {
	 margin: 30px 0 0 0;
}
header .container {
    padding: 0 30px;
}

.spacer {
    margin-top:65px;
}



.case div {
    background-color: blue;

}

@media all {

	.navbar-header a {padding-left : 30px;}
	    
    nav .container {
    	padding-top: 0;
    }
    .cover-bg {
        margin:0;
        padding:0;
        background: url(../img/home/main-bg.jpg) no-repeat center fixed;
        background-size: cover;
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        text-align: center;
        background-position: center;
        height:1000px;
        /*background-color: rgba(0,5,8,0.5);*/

    }

    .titre {
        position: relative; /* on positionne le conteneur */
        margin-left: auto;
        margin-right: auto;
        top:150px;
        color : white;
        text-align: center;
        font-size: 4em;
    }
    .cover-bg div {
        position: absolute;
        display: inline;
        bottom:20px;   
        z-index: 1;
        color: white;
    }
    .cover-bg div img {
        width: 50px;
        height: auto;
        transform: translateX(-50%);
    }
    

    .content {  
        padding : 0 5px 0 0;
    }

    .content h2,.sidebar h2 {
        margin: 0;
    }

    .case {
        display: flex;
    }
    .case div {
        position: relative;
        width: 300px;
        height: 300px;
        margin: 10px;
    }
    .case div h2 a {
        color: white;
        font-size: 1em;
        position: absolute;
        top : 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
    }
    .case div h2 a:hover {
        text-decoration: none;
    }

	.container {padding : 0;}
    .container-detail {
        margin: 150px auto;
    }
    
    .produit-list {
    	max-height: 120px;
    }
    
    #case-histoire {
           background: url(../img/home/histoire.jpg) no-repeat center center;
    }
    #histoire {
        background: url(../img/home/histoire.jpg) no-repeat center center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:350px;
    } 
  
    #case-produits {
        background: url(../img/home/produits.jpg) no-repeat center center;  
    }    
    #produits {
        background: url(../img/home/produits.jpg) no-repeat center center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:350px;
    }
    #case-preparation {
        background: url(../img/home/preparation.jpg) no-repeat center center;
    }    
    #preparation {
        background: url(../img/home/preparation.jpg) no-repeat center center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:350px;
    }
    
    #case-articles {
        background: url(../img/home/articles.jpg) no-repeat center center;
    }
    #articles {
        background: url(../img/home/articles.jpg) no-repeat center center;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height:350px;
    }
    
    .container {
    	padding-top:50px;
    }
    .btn-categorie {
    }
        .liste-produits {
    	margin-top: 10px;
    }
    
    /*******/
    /***Admin****/
    /***MENU****/
    ul.menuAdmin,ul.menuUser {
		text-decoration: none;
    }
    ul.menuAdmin li,ul.menuUser li {
  		float:left;
    	list-style-type: none;
		display: table;
   	 	table-layout: fixed;
    	margin:10px;
    }
    ul.menuAdmin li a, ul.menuUser li a{
	    display:table-cell;
	    vertical-align:middle;
	    text-align:center;
		font-size: 1.6em;
	    width:200px;
	    height:200px;
	    background-color: blue;
		color: #9d9d9d;
		margin: 10px;
		text-transform:uppercase;
		text-align: center;
    }
    

    ul.menuAdmin li a:hover,ul.menuUser li a:hover {
		text-decoration: none;
			    background-color: #9d9d9d;
		color: white;
		
    }
    
    .container-single-produit > img {
    width: 2px;
    }
    

}

@media all and (max-width: 768px) {

    html, nav {
        min-width: 350px;
    }
    
    .navbar-nav {
    	margin: 0
    }
    
    .row {
    	margin: 0;
    }

    .cover-bg {
        height: 1200px;
    }

    .corps {
        padding:10px 0 0 0;
        margin:60px 0 0 0;
    }
    .content {  
        padding :0;
    }

    .content h2,.sidebar h2 {
        margin: 0;
    }

    .sidebar {
        padding : 0 0 0 0px;
    }

    .sidebar .open {
        padding: 10px;
    }
    .sidebar .open p {
        line-height: 10px;
    }

    .content div,.sidebar div {
        background-color: green;
        margin-bottom: 10px;
    }  
	.case {
	   flex-wrap: wrap;
    	margin-top :0px;
	  }
    .case div {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 5px;
    }
    .case div h2 {
        font-size: 1.3em;
    }

     .container-detail {
        margin: 0px auto;
    }
    
	.btn-categorie {
		width:94%;
		position:relative;
		display:block;
		margin: 0 auto;
		    padding-right: 15px;
    padding-left: 15px
	}
	.panel-categorie {
	    padding: 0 20px;
	}
    ul.categorie-liste  {
    	text-decoration: none;
    } 
     ul.categorie-liste li {
    	list-style-type: none;
    }
    
    .liste-produits {
    	margin-top: 10px;
    }
    ul.menuAdmin,ul.menuUser {
    	text-decoration: none;
    	padding: 0;

    	border-top: solid 1px #9d9d9d;
    }
    ul.menuAdmin li,ul.menuUser li {
    	display:block;
    	float:none;
    	list-style-type: none;
    	border-bottom: solid 1px #9d9d9d;
    	width: 100%;
    	margin: 0px;
    	text-align: left;
    }
    ul.menuAdmin li a,ul.menuUser li a {
    	display: block;
    	padding: 5px;
    	text-align: left;
    	background-color:white; 
    	height:auto;
    	width: 100%;
    	margin: 0px
    }
    
    ul.menuAdmin li a:hover,ul.menuUser li a:hover  {
    	text-decoration: none;
    	color: white;
    	background-color: #9d9d9d; 
    }
}