<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container spacer">
		<div class="" th:replace="template :: layerSliger"></div>
		<div class="col-xs-9">
			<h2>Poilanne</h2>
		</div>
		<div class="col-xs-3">
			<p>Nous sommes ouvert :</p>
			<p>Du lundi au vendredi de 9h à 18h30</p>
			<p>le samedi de 9h à 18h</p>
		</div>
		<div class="col-xs-9">
			<h3>Nos préparations maison</h3>
		</div>
		<div class="col-xs-3">
			<h3>Derniers Articles</h3>
		</div>
		<div class="col-xs-12">
			<h3>Nos Nos suggestions</h3>
		</div>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>