<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container spacer">
		<div class="row">
		<div class="" th:replace="template :: layerSliger"></div>
		</div>
		<div class="row">
			<ul class="list-inline" >
				<li th:each="cat:${categories}"><a th:href="@{Index(cat=${cat.nom})}" th:text="${cat.nom}"></a></li>
			</ul>
		</div>

		<h1 th:text="${titre}"></h1>
		<div class="col-xs-4 col-xs-offset-8" style="margin-bottom: 10px;">
			<form class="form-inline" th:action="@{Index}" method="get">
				<div class="form-group">
					<label>Mot Clé :</label> <input type="text" class="form-control"
						name="motCle" th:value="${motCle}" />
					<button class="btn btn-primary" type="submit">Chercher</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-2" th:each="p:${pageProduits.content}">
				<div class="thumbnail">
					<img class="img-responsive produit-list" th:src="@{getPhoto(id=${p.id})}" alt="test" />
					<div class="caption">
						<a href="" th:href="@{Index(id=${p.id})}"><h3 th:text="${p.nom}"></h3></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<ul class="nav nav-pills">
				<li th:each="pa:${pages}" th:class="${pa==pageCourante}?active:''">
					<a th:text="${pa}" th:href="@{Index(page=${pa},motCle=${motCle})}"></a>
				</li>
			</ul>

		</div>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>