<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<header th:replace="template :: header"></header>
	<div class="container container-single-produit">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<img class="img-responsive image-single-produit" th:src="@{getPhoto(id=${produit.id})}" alt="test" />
			</div>
			<div class="col-xs-12 col-sm-6">
				<h1 th:text="${produit.nom}"></h1>
				<p th:text="${produit.description}"></p>
				<p>
					Lieu :<span th:text="${produit.lieu.nom}"></span>
				</p>

				<p>
					Categorie : <span th:text="${produit.categorie.nom}"></span>
				</p>
				<p>Prix :<span th:text="${produit.prix}+' €/'+${produit.unite}"></span></p>
				 <button type="button" class="btn btn-success" onclick="location.href=''"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>	
								
			</div>
		</div>
	</div>
	<footer th:replace="template :: footer"></footer>
</body>
</html>