<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			
				<a class="navbar-brand" href="#" th:href="@{/Index}">Pata Negra</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li th:classappend="${page == 'home' ? 'active' : ''}"><a
						href="#" th:href="@{/Index}">Accueil</a></li>
					<li th:classappend="${page == 'messages' ? 'active' : ''}"><a
						href="#" th:href="@{/Produit/Index}">Produits</a></li>
					<li th:classappend="${page == 'tasks' ? 'active' : ''}"><a
						href="#" th:href="@{/Commande/Index}">Commandes</a></li>
					<li th:classappend="${page == 'tasks' ? 'active' : ''}"><a
						href="#" th:href="@{/Contact/Index}">Contact</a></li>

				</ul>
			
				<ul class="nav navbar-nav navbar-right">
			
          			<li sec:authorize="hasRole('ROLE_USER')"><a href="/signin" th:href="@{/Utilisateur/Index}">Mon Compte</a></li>
					<li sec:authorize="hasRole('ROLE_USER')"><a href="/signin" th:href="@{/Utilisateur/Panier}">Mon panier</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/signin" th:href="@{/Admin/Index}">Admin
							Panel</a></li>
					<li sec:authorize="isAnonymous()"><a href="/signin" th:href="@{/Login}">Sign in</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout"
						th:href="@{/Logout}">Logout</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="col-xs-12 layerSlider" th:fragment="layerSliger"></div>
	
	<div th:fragment="menuUtilisateur">
			<ul class="menuUser">
				<li><a th:href="@{/Utilisateur/Panier}">Mon panier</a></li>
				<li><a th:href="@{/Utilisateur/Commandes/Index}">Mes Commandes</a></li>
				<li><a th:href="@{/Utilisateur/Compte/Index}">Info sur mon compte</a></li>
			</ul>
	</div>
	
	<div th:fragment="menuAdmin">
			<ul class="menuAdmin">
			<li><a th:href="@{/Admin/Produit/Index}">Produits</a></li>
			<li><a class="align-middle" href="article">Articles</a></li>
			<li><a class="align-middle" href="commande">Commandes</a></li>
			<li><a class="align-middle" href="suggestion">Suggestions</a></li>
			<li><a class="align-middle" href="Utilisateur">Utilisateurs</a></li>
		</ul>
	
	</div>
	
	<footer th:fragment="footer">
		<div class="container">
			<p style="text-align: center;">@footer 456</p>
		</div>
			<div th:include="fragments/js :: jquerys"></div>
			<div th:include="fragments/js :: bootstrap"></div>
   			 <script src="../js/app.js"></script> 
	</footer>

<div th:fragment="jquerys">
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

</div>
	<div th:fragment="bootstrap">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>

</html>